


.nav-bar-section li:hover {
    font-size: 1em;
    transform: scale(1.1);
    transition: 0.2s;

  }

  .menu-toggle{
    display: flex;
    cursor: pointer;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }



.nav-bar-section{

    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap:80px;
    margin-right: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;





}

.nav-bar-section li {
  list-style-type: none;
}

.nav-bar-section li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.nav-bar-section li a:hover {
  color: orangered;
}




 .logo{

    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);


}

.logo span{
  color: orangered;
}

.nav-section-container{

display: flex;
align-items: center;
justify-content: space-between;
color: white;
margin-top:-880px;
margin-left: 60px;


}

.hero-section{

display: flex;
font-size: 25px;
flex-direction: column;
margin-left: 90px;
margin-top: 85px;
color:white;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);


}

.hero-section-quote span{
color:orangered;
}

.learn-button{

  border-radius: 38px;
  border: 2px solid rgb(239, 86, 31);
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-left: 90px;
  background-color: rgb(239, 86, 31);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.learn-button:hover {
    opacity:85%;
    font-weight: bold;
    cursor: pointer;
    
  }

.quote-section{

margin-top: 0px;
font-size:25px;
margin-bottom: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);


}

.quote-section span{
  color: orangered;
}

.main-footer-container{

display: flex;
justify-content: center;
margin-top:195px;
/* align-items: center; */
gap: 4%;


}

.footer-number{

font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
font-size: 30px;
color: orangered;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first-footer-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    font-size: 12px;
    color: white;
    gap: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);




}

.second-footer-container{

    display: flex;
    flex-direction: column;
     justify-content: flex-start;
    width: 20%;
    font-size: 12px;
    color: white;
    gap: 2px;
    padding-right: 75px;
    border-left:2px solid white;
    border-right: 2px solid white;
    padding-left: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

.third-footer-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    font-size: 12px;
    color: white;
    gap: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);



}



.footer-title{

  margin-top:0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.learn-more-button{
  border-radius: 38px;
  border: 2px solid rgb(239, 86, 31);
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-left: 90px;
  background-color: rgb(239, 86, 31);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

@media (max-width: 767px) {

  .background-cover{
  height: 750px;
  object-fit: cover;
  }

  .nav-section-container{
    display: flex;
    margin-top: -760px;
    
  }

  @media (max-width: 767px) {
    .nav-bar-section {
      display: flex;
      
    }
    
  .navbar{
    margin-right: 50px;
  }
  
    .nav-bar-section.active {
      display: block; 
    }
  }
  
  .menu-toggle {
    display: block;
    
  }

  .nav-bar-section {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 50px;
    left: 260px;
    width: 100%;
    padding: 1px;
    z-index: 100;
    text-align: center;
  }

  .nav-bar-section.active {
    display: flex;
    width: 50%;
    border-radius:40px;
    background-color: rgba(110, 137, 184, 0.29);
    
  }

  .menu-toggle .bar {
    background-color: orangered;
  }

  .nav-bar-section li a {
    color: orangered;
    font-size: 20px;
    margin: 10px 0;
  }

  .main-footer-container{

    display: flex;
    margin-top:-115px;
    margin-right: 160px;
    
    
    
    
    
    }
    .footer-number{

      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
      font-size: 25px;
      color: orangered;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .footer-title{
        font-size:15px;
        margin-top:0;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
      }
  .hero-section {
    margin-left: 50px;
    margin-top: 15px;
    font-size:15px;
  }

  .learn-button {
    margin-left: 65px;
    font-size:15px;
  }

  .main-footer-container {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .first-footer-container,
  .second-footer-container,
  .third-footer-container {
    width: 80%;
    text-align: center;
    padding: 0;
    border: none;
    gap: 10px;
  }

  .learn-more-button {
    margin-left: 30px;
  }


  .quote-section{
    font-size: 20px;
  }
}