.about-us-image {
    border-radius: 12px;



}

.about-us-color-container{
    background-color: #f8f8f8;
  border: 5px solid #eaeaea;
  border-radius: 15px;
}
.about-us-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;

}

.about-us-text-container{
 display: flex;
 flex-direction: column;

  /* margin-right: 800px;  */
}

.who-title{
    font-size:20px;
    margin-left:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    opacity: 90%;
}

.about-title{

    margin-top:2px;
    margin-left:50px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.about-text{
    width: 600px;
    margin-top:2px;
    margin-left:30px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* .contact-button{
    border-radius: 38px;
  border: 2px solid rgb(239, 86, 31);
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin-left: 90px;
  margin-top:20px;
  background-color: rgb(239, 86, 31);
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
} */

/* .contact-button:hover{

   opacity:85%;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
   transform: scale(1.1);

      } */

.numbers{
    color: orangered;
    font-size: 35px;
    margin-top:-10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}



.about-description{
    color: black;
    font-size:12px;



}

.about-statistics-container{

    gap:5px;



}




 .about-cover{


  width: 40%;
  height: 40%;
  margin-left: 130px;
  border-radius: 20px;
  background-color: #f8f8f8;
  border: 10px solid orangered;
  



}

.subtitle-number-container{
    display:flex;
   flex-direction: column;
   align-items: center;
   max-width: 25%;
   
   
}

.main-subtitle-number-container{
     display: flex; 
    align-items: center;
    gap:30px;
    margin-left: 35px;
}